---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="About"
	socialImageFilename="home_social.png"
>
	<p>About page</p>
	<p>Why we made it</p>
	<p>What's it good for?</p>
</BaseLayout>
