---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CleanHTMLIsland from "@/islands/clean-html.svelte";
import Feedback from "@/components/Feedback.astro";
---

<BaseLayout
	title="Clean HTML"
	description="A tool to instantly clean up HTML"
	socialImageFilename="clean_html_social.png"
>
	<div id="toolDescription">
		<p>
			Remove all the extra colours, fonts etc when you copy your text out of
			Word or Google Docs.
		</p>
	</div>

	<div
		id="islandWrapper"
		class="mt-6"
	>
		<CleanHTMLIsland client:load />
	</div>
	<Feedback />
</BaseLayout>

<style>
	#toolDescription,
	#islandWrapper {
		max-width: 36rem;
	}

	div p {
		margin-bottom: 0;
	}
</style>
