---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CleanHTMLIsland from "@/islands/clean-html.svelte";
---

<BaseLayout
	title="Clean HTML"
	description="A tool to instantly clean up your HTML"
>
	<p>
		Remove all the extra colours, fonts etc when you copy your text out of Word
		or Google Docs.
	</p>

	<CleanHTMLIsland client:load />
</BaseLayout>

<style>
	div p {
		margin-bottom: 0;
	}
</style>
