---
import cleanHTMLImage from '@/assets/images/clean-html.png';
import prepopulationLinkImage from '@/assets/images/prepopulation-link.png';
import shareLinkImage from '@/assets/images/share-link.png';
import trackingLinkImage from '@/assets/images/tracking-link.png';
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
---

<BaseLayout
	title="Mobiliser's Toolkit"
	socialImageFilename="home_social.png"
>
	<p>
		A collection of useful tools for mobilisers – by the makers of Impact Stack
	</p>

	<div class="grid-x grid-margin-x grid-margin-y">
		<div class="cell medium-6">
			<Card
				title="Clean HTML"
				link="/clean-html"
				image={cleanHTMLImage}
				imageAlt="A shower cleaning the word HTML"
			>
				<p>
					Remove unwanted colours, fonts etc when you copy-paste your content straight out of Word
					or Google Docs.
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Link Generator to prepopulate forms"
				link="prepopulation-link"
				image={prepopulationLinkImage}
				imageAlt="A chain link"
			>
				<p>
					Impact Stack lets you prefill your form with data you already have in your email marketing tool. Quickly generate the link to
					drop in to an email to prefill your form with your supporters' details
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Share Link Generator"
				link="share-link"
				image={shareLinkImage}
				imageAlt="An arrow point up to the word Link"
				>
				<p>
					Create share links for your thank you pages and emails to let your
					supporters quickly share your action with their friends and family
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Tracking link generator"
				link="tracking-link"
				image={trackingLinkImage}
				imageAlt="An archery target"
			>
				<p>
					Create UTM tracking links to help you see how your supporters arrived
					on your action pages
				</p>
			</Card>
		</div>
	</div>
</BaseLayout>