---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
---

<BaseLayout
	title="Mobiliser's Toolkit"
	socialImageFilename="home_social.png"
>
	<p>
		A collection of useful tools by the makers of Impact Stack to make life
		easier for mobilisers.
	</p>

	<div class="grid-x grid-margin-x grid-margin-y">
		<div class="cell medium-6">
			<Card
				title="Clean up HTML"
				link="/clean-html"
			>
				<p>
					Remove unwanted colours, fonts etc when you copy your text out of Word
					or Google Docs.
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Prepopulation Link Generator"
				link="prepopulation-link"
			>
				<p>
					Impact Stack lets you prefill your form. Quickly generate the link to
					drop in your email marketing tool that will prefill your form with
					your supporters' details
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Share Link Generator"
				link="share-link"
			>
				<p>
					Create share links for your thank you pages and emails to let your
					supporters quickly share your action with their friends and family
				</p>
			</Card>
		</div>
		<div class="cell medium-6">
			<Card
				title="Tracking Link Generator"
				link="tracking-link"
			>
				<p>
					Create UTM tracking links to help you see how your supporters arrived
					on your action pages
				</p>
			</Card>
		</div>
	</div>
</BaseLayout>

<style>
	.soon {
		font-weight: 700;
		font-size: 0.85rem;
	}
</style>
