---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CleanHTMLIsland from "@/islands/clean-html.svelte";
import Feedback from "@/components/Feedback.astro";
---

<BaseLayout
	title="Prepopulation Link Generator"
	description="Prefill your Impact Stack form with your supporters' details"
>
	<div id="toolDescription">
		<p>
			Impact Stack lets you prefill your form. Generate the link to drop in your
			email marketing tool that will prefill your form with your supporters'
			details
		</p>
	</div>

	<div
		id="islandWrapper"
		class="mt-6"
	>
		<CleanHTMLIsland client:load />
	</div>
	<Feedback />
</BaseLayout>

<style>
	#toolDescription,
	#islandWrapper {
		max-width: 36rem;
	}

	div p {
		margin-bottom: 0;
	}
</style>
