---
import Feedback from "@/components/Feedback.astro";
import ImpactStackPlug from "@/components/ImpactStackPlug.astro";
import { SHARE_TARGETS } from "@/data/share-link/store.svelte";
import ShareLinkIsland from "@/islands/share-link.svelte";
import BaseLayout from "@/layouts/BaseLayout.astro";

const commaListFormatter = new Intl.ListFormat("en", {
	type: "conjunction", // end with 'and'
	style: "long" // use 'and', not '&'
});
const formattedShareTargetsList = commaListFormatter.format(SHARE_TARGETS);
---

<BaseLayout
	title="Share Link Generator"
	description=`Create share links for ${formattedShareTargetsList}`
	socialImageFilename="share-link.png"
>
	<div id="toolDescription">
		<p>Create share links for {formattedShareTargetsList}</p>
		<p>
			Let your supporters quickly share your action with their friends and family on thank you pages
			and emails
		</p>
		<p>
			Want ready-to-paste share buttons for your <a href="https://www.impact-stack.org/"
				>Impact Stack</a
			> thank you pages? <a href="/share-link-buttons">Make them here</a>.
		</p>
	</div>

	<ImpactStackPlug>
		Share link generator brought to you by campaigning and fundraising platform <a
			href="https://www.impact-stack.org">Impact Stack</a
		>. Use it to help supporters share your action from thank you pages and emails.
	</ImpactStackPlug>

	<div id="islandWrapper" class="mt-6">
		<ShareLinkIsland client:load />
	</div>
	<Feedback />
</BaseLayout>

<style>
	#toolDescription,
	#islandWrapper {
		max-width: 36rem;
	}

	#toolDescription p {
		margin-top: 1rem;
	}

	div p {
		margin-bottom: 0;
	}
</style>
