---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ShareLinkIsland from "@/islands/share-link.svelte";
import Feedback from "@/components/Feedback.astro";
---

<BaseLayout
	title="Share Link Generator"
	description="Create share links for Facebook, WhatsApp, Twitter, Email, Facebook Messenger"
	socialImageFilename="share-link.png"
>
	<div id="toolDescription">
		<p>
			Create share links for your thank you pages and emails to let your
			supporters quickly share your action with their friends and family.
		</p>
		<p>See the Help Centre for more information about how you might <a href="https://support.impact-stack.org/hc/en-us/articles/360018432999-Styling-your-content#your-own-share-button">use these to create custom share buttons in thank you emails</a>.</p>
	</div>

	<div
		id="islandWrapper"
		class="mt-6"
	>
		<ShareLinkIsland client:load />
	</div>
	<Feedback />
</BaseLayout>

<style>
	#toolDescription,
	#islandWrapper {
		max-width: 36rem;
	}

	#toolDescription p {
		margin-top: 1rem;
	}

	div p {
		margin-bottom: 0;
	}
</style>
