---
import { Image } from "astro:assets";
import ImpactStackLogo from "@/assets/ingra_logo_pink_nopadding.png";
---

<!--
<style>
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1rem;

		& #headerLeft {
			display: flex;
			flex-direction: column;
			font-size: 0.75rem;
			font-weight: 300;

			& img {
				margin: 0;
			}

			& p {
				margin-bottom: 0;
				padding: 4px 0;
			}
		}
	}
</style> -->
<style>
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 0.5px solid grey;

		& #headerLeft {
			display: flex;
			flex-direction: column;
			font-size: 0.75rem;
			font-weight: 300;

			& img {
				margin: 0;
			}
		}

		& p:last-of-type {
			margin-bottom: 0;
		}
	}
</style>

<footer>
	<div>
		<div id="headerLeft">
			<a
				class="logo"
				href="/"
			>
				<Image
					class="logo"
					src={ImpactStackLogo}
					alt="More Onion logo"
				/>
			</a>
		</div>

		<p>
			Mobiliser's Toolkit is made by <em>more onion</em> – the people behind
			<a href="https://www.impact-stack.org">Impact Stack</a>.
		</p>

		<div>
			<a href="/about">About</a>
		</div>
	</div>
</footer>
