---
import { Image } from "astro:assets";
import ImpactStackLogo from "@/assets/images/ingra_logo_pink_nopadding.png";
---

<style>
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 4rem;
		row-gap: 1rem;
	}

	footer a:has(> .logo) {
		border-bottom: 0;
		box-shadow: none;
	}

	@media (min-width: 640px) {
		footer {
			flex-direction: row;
			column-gap: 2rem;
			align-items: start;
		}
	}

	.logo {
		max-width: 200px;
	}
</style>

<footer>
	<a href="/">
		<Image
			class="logo"
			src={ImpactStackLogo}
			alt="More Onion logo"
		/>
	</a>

	<p>
		Mobiliser's Toolkit is made for mobilisers by the people behind
		<a href="https://www.impact-stack.org">Impact Stack</a>.
		<!-- <a href="/about"
			>Read more about Mobiliser's Toolkit</a
		>. -->
	</p>
</footer>
