---
type Props = {
	title: string;
};

const { title } = Astro.props;
---

<style>
	#titleWrapper {
		display: flex;
		align-items: baseline;
		column-gap: 0.5rem;
		padding-top: 1rem;
		flex-wrap: wrap;
	}
	h1,
	p {
		margin-bottom: 0;
	}
</style>

<header>
	{
		Astro.url.pathname !== "/" && (
			<p>
				<a href="/">← Home</a>
			</p>
		)
	}
	<div id="titleWrapper">
		<h1 class="h2">{title}</h1>
	</div>
</header>
