---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Mobiliser's Toolkit</title>
		<link
			rel="stylesheet"
			href="https://assets.more-onion.com/ist/v1/impact-stack.css?rjzina"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
