---
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Mobiliser's Toolkit</title>
		<link
			rel="stylesheet"
			href="https://assets.more-onion.com/ist/v1/impact-stack.css?rjzina"
		/>
		<ViewTransitions />
		<style>
			body {
				display: grid;
				grid-template-rows: auto 1fr auto;
				min-height: 100vh;
			}

			main {
				padding: 1rem 2rem;
			}

			footer {
				padding: 1rem 2rem;

				& p:last-of-type {
					margin-bottom: 0;
				}
			}
		</style>
	</head>
	<body>
		<div>
			<Header />
		</div>
		<main>
			<slot />
		</main>
		<footer>
			<p>
				Mobiliser's Toolkit is made by <em>more onion</em> – the people behind
				<a href="https://www.impact-stack.org">Impact Stack</a>.
			</p>
		</footer>
	</body>
</html>
